  
body{
    /*margin: 100px;*/
    margin-left: 75px;
    margin-right: 75px;
}
        
/*----- CASES IMAGES ------*/
#boxImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/*  ajout transition texte  */
/*    overflow: hidden;*/
    overflow: visible;
    
}
        
img{
    margin: 15px;
   z-index: 2;
}




/*
.listeRelax:hover .image{
    opacity: 0.3;
}
*/





.listeRelax:hover .texte{
    opacity: 1;
/*    ajout transition texte */
    top: -215px;
}




/*
#titre:hover .texte{
    opacity: 1;
    ajout transition texte 
    top: -200px;
}
*/







.listeRelax{
    position: relative;
    text-align: center;
    color: #404040;
    width: 260px;
    height: 275px;
    margin: 15px;
}

.texte h3 {
    text-align: center;
}
.texte{
    width: 260px;
    text-align: left;
    padding: 15px;
/*
    margin: 15px;
*/
 margin: 25px;
/*    position: absolute;*/
    position: relative;
/*    top:50% ;*/
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    overflow: hidden;
    word-wrap: break-word;
/*    z-index: 3;*/
}
/*TEST Transition texte sur image*/
/*
#boxImages:hover .texte {
    top: -182px;
    opacity: 1;
}
*/

.texte {
    transition: top 2s;
    background-color: rgba(252, 248, 251, 0.7);
    font-family: 'Poppins', sans-serif;
    height: 100%;
/*
    -webkit-user-select: none;
    -webkit-touch-callout: none;
*/
}
.texte  {
    color: #414141;
/*
    -webkit-user-select: none;
    -webkit-touch-callout: none;
*/
}


/*
.listeRelax:hover .texte,
.listRelax.hover_effect {
    top: 0;
    height: 100%;
    overflow: visible;
    
}
*/
p{
    padding: 10px;
}
#titre  {
background-color: rgba(252, 248, 251, 0.7);
/*background-color: transparent;*/
    font-family: 'Poppins', sans-serif;
    color: #414141;
    border: none;
    width: 260px;
    position: relative;
    bottom: 45px;
    left: 15px;
    z-index: 1;
    padding: 5px;
/*    border-bottom: 1px solid blue;*/
/*    text-transform: uppercase;*/
}
#titredetente, #titresport, #titretherapie,#titredivers,#titrenature {
    background-color: rgba(252, 248, 251, 0.7);
/*background-color: transparent;*/
    font-family: 'Poppins', sans-serif;
    color: #414141;
    border: none;
    width: 260px;
    position: relative;
    bottom: 50px;
    left: 25px;
    z-index: 1;
    /*padding: 5px;*/
   
}
#titredetente{
     border-bottom: 3px solid #91a9c6;
}
#titresport {
 
    border-bottom: 3px solid #ea5852;
}
#titretherapie {
 
    border-bottom: 3px solid #f3a5af;
}
#titredivers {

    border-bottom: 3px solid yellow;
}
#titrenature{

    border-bottom: 3px solid #94c674;
}

/*Icones */
.iconetel {
    width: 13px;
    height: auto;
    margin: 0;
    margin-right: 5px;
}
.iconeweb {
    width: 13px;
    height: auto;
    margin: 0;
    margin-right: 5px;
}
.iconeadresse {
    width: 13px;
    height: auto;
    margin: 0;
    margin-right: 5px;
}
.iconemail {
    width: 13px;
    height: auto;
    margin: 0;
    margin-right: 5px;
}
#lien {
    color: #464646;
}

#pissenlit {
	position: relative;

/*	margin-top: -435%;*/
	margin-top: -560%;
    margin-left: -75px;

	z-index: -3;
}	
/*version mobile*/	
/*
@media (min-width: 1290px) {

  body {
    margin: 25px;
  }
}
*/


@media (min-width:1920px){
    body{
        margin-left: 150px;
        margin-top: 150px;
    }
}
       
        
    
    
 